body {
  font: 15px/20px Raleway;
  margin: 0;
min-width: 900px;
min-height: 1000px;
background: #F9E3CB;
z-index: -1;
}

a{
  text-decoration: none;
  color: inherit;
}

.user_image{
  width:100px;
  height:100px;
  padding:0px;
      opacity:.8;

}


/
.user_image:hover{
  opacity:1;
    box-shadow:  3px 3px 3px rgba(0, 0, 0, .5); 

}

.error{
  font-size: 18px;
  margin-bottom:0;
  color:red;
}

.user_image:hover{
 
  cursor: pointer;
}

#interest_main{

}

#main_nav{
  width:100%;
}

#login_header{
   font-size: 28px;
   height: 100px;
   
}

#login_header h1{
   text-align:center;
   margin-top: 100px;

}

#h1_behind{
  position: fixed;
  top:-10px;
  background-color: #88382D;
  height:100px;
  width:100%;
  z-index: 1000;
  text-align: center;
  background-image:url('../images/gradient5.jpg');
  background-repeat: repeat-x;
  }

#logo_int{
position:relative;
display: inline-block;
float: left;
width: 50px;
height: 60px; 
top:20px;
left:30px;
}

#interest_main{
  position:relative;
  top:90px;
}

#interest_main h1{
  text-align:center;
  letter-spacing: -4px;
  font-size:50px;
  z-index: 100;
  color:rgb(245, 213, 188);
  display:inline-block;
  position:relative;
  top:10px;
  height:30px;
  cursor:pointer;
}

#interest_main h1:hover{
      text-shadow:  10px 10px 10px rgba(0, 0, 0, .5);  
}

#interest_main h2{
  position:relative;
  text-align:center;
  letter-spacing: -3px;
  font-size:35px;
  top:10px;
  left:-30px;
  color:white;
}
#interest_main span{
  letter-spacing: -2px;
  font-size:25px;
  color:white;
}
#name{
    width: 320px;
        margin-left:auto;
    margin-right:auto;
}
#submit{
        width: 70px;
        font:'Raleway',sans-serif;
    margin-left:auto;
    margin-right:auto;
  box-shadow:inset 0px 0px 0px 0px #dcecfb;
  background-color:#88382D;
  text-indent:0;
  border:1px solid black;
  display:inline-block;
  color:#ffffff;
  position: relative;
  left:100px;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:80px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px black;
  cursor:pointer;
  bottom:10px;
}
#submit:hover {
 
  background-color:#D6A354;
}

#sign_up_form ul{
  list-style-type: none;
  font-size: 15px;
  line-height: 18px;
  overflow: scroll;
  height:200px;
}

#form_wrapper{
  text-align: center;
  border:solid #8B4513 3px;
  border-radius:25px;
  font-size: 15px;
  width: 350px;
  height:570px;
  margin:auto;
  display:block;
  background-color: #FFA07A;
}

#login_form{
  text-align:center;
  display:block;
  width:70%;
  margin:auto;
  padding-top: 60px;
}

#login_submit{
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

#login_form input{
  margin-top: 30px;
  padding:5 5 5 5;
}

#sign_up_form{
  text-align:center;
  display:block;
  width:70%;
  margin:auto;
  margin-bottom:10px;
  top:600px;
  
}

#sign_up_form input{
  margin-top: 10px;
  padding:5 5 5 5;
}


#users_table{
  position: relative;
  top:90px;
}



#search{
  position:fixed;
  width:100%;
  height:100%;
}

#search1{
  margin:0 auto;
  width:400px;

}

#search2{
    position:relative;

      background-color:#A84A5C ;
      opacity: .9;
       height:150px;
       position:fixed;
      top:200px;
       z-index: 500;
       border-style: solid;
       border-width: 5px;
       border-color: black;
       box-shadow: 10px 10px 3px #88382D; 
         z-index: 10000;
}

#search3{
  position: relative;
      text-shadow:  10px 10px 3px #88382D; 
      font-weight: bold;
left:30px;
bottom:20px;
         z-index: 10000;

}


#profile-picture{
  width:300px;
  height:300px;
  max-width:100%;
  overflow:hidden;
  border-radius: 50%;
  border: 8px solid black;
  position: relative;
  top: 100px;
  display:block;
  margin: auto;
  top:100px;
}

#bar{
  background-color: #A84A5C;
  background-image: url('../images/gradient2.jpg');
  background-repeat: repeat-x;
  width:100%;
  height:70px;
  position:relative;
  display:block;
  margin:auto;
  top:140px;
}

#main_nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

#main_nav ul{
  width:70%;
  text-align:center;
  float:left;
  clear:right;
  text-align: center;

}

#main_nav li{

}

#main_nav li:hover{
  background-position: 0px -69px !important;
  font-weight:bold;
  color:white;
      text-shadow:  10px 10px 10px rgba(0, 0, 0, .5);  

}

#main_nav li{
  font-size:15px;
  height:45px;
  width:100px;
   background-image: url('../images/gradient2.jpg');
  display:inline-block;  
  padding-left:50px;
    padding-right:50px;
padding-top:25px;
  text-decoration: none;
  z-index:1000;
    color:#F9E3CB;
    cursor:pointer;
      letter-spacing: -1px;
}

#logo1{
  position:absolute;
  z-index:1000;
  width:60px;
  height:70px;
  left:210px;
  top:130px;
}

#top{
  width:100%;
  height:500px;
  position: absolute;
  background-color:#88382D;
  text-align: center;
}

#nav_bar_2{
  text-align: center;
  position:fixed;
  width:100%;
  z-index:10000;
}

#nav_text_cover{
  position: fixed;
  top:0;
  height:100px;
  text-align:center;
  z-index:999;
    background-color:#88382D;
  opacity:0.7;
  width:100%;
}


@media screen and (max-width: 1000px) {
   #nav_text{
    font-size: 40px;
   }
}

#nav_text:hover{
    text-shadow:  10px 10px 10px rgba(0, 0, 0, .5);
    background-image: url('../images/gradient5.jpg');
    background-repeat: repeat-x;
    cursor:pointer;

   }



#nav_text{
  position: relative;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: -4px;
  font-weight: bold;
  padding-top: 50px;
  height:100px;
  text-align:center;
  color:#F5D5BC;
  height:50px;
}


.sectionHead{
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  position:relative;
  top:132px;
  left:10px;
  font-size:50px;
  color: #F9E3CB;
}

#denominatorHead{
  position:relative;
  top:147px;
  color: #88382D;
  letter-spacing: -5px;
}

#denominator{
  text-align: center;
}
#profile-picture:hover{
  box-shadow:  10px 10px 10px rgba(0, 0, 0, .5);  

}

#profile{
  position:relative;
  top:20px;
}

#interests{
  width: 900px;
  position:relative;
  margin:0 auto;
  white-space: nowrap;
  overflow: scroll;
  top:200px;
}

#interests_title{
  font-size:40px;
  font-weight: bold;
}

.container{
 position:relative;
  top:170px;
  width:800px;
  left:50px;
  position:relative;
    display:block;
   margin: 0 auto;
   z-index:20;

 }

#container{
  min-height: 100%;
}


.interest img{
max-width:100%; 
max-height:100%;
display:block;
white-space:nowrap;
}

.scroll-pane
{
  width: 100%;
  height: 200px;
  overflow: auto;
}
.horizontal-only
{
  height: auto;
  max-height: 200px;
}
  
#upload {
    font-family: 'PT Sans Narrow',sans-serif;
    background-color: rgb(55, 58, 61);
    background-image: -moz-linear-gradient(center top , rgb(55, 58, 61), rgb(49, 52, 55));
    width: 250px;
    padding: 30px;
    border-radius: 3px 3px 3px 3px;
    margin: 200px auto 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.interest{
  width:150px;
  height:150px;
  margin: 10px;
  text-indent:-9999px;
  position:relative;
  box-shadow:  4px 4px 10px rgba(0, 0, 0, .5);  
  display:inline-block;
  float:left;
}

#interests_list{
  list-style: none;
  position:relative;
  white-space: nowrap;

}
#empty{
  border:1px dotted black;
}

#empty:hover{
  border:10px dotted black;
  cursor:pointer;
  position:absolute;
}
.interest2{
  width:150px;
  height:150px;
  margin: 10px;
  display:inline-block;
  position:relative;
  text-indent:-9999px;
  position:relative;
  box-shadow:  4px 4px 10px rgba(0, 0, 0, .5);  

}

.column{
  width:33%;
  display:inline-block;
  float:left;
  margin: 0 auto;
  font-size:15px;
  font-family: serif;
  position:relative;
  left:20px;
}

.column_head{
  font-width:bold;
  font-size:20px;
  text-align:center;

}

.bar{
  fill: #D6A354;
  width:100%;
  height:70px;
  position:relative;
  top:300px;
  display:block;
  margin:auto;
  padding-bottom:10px;
}

#bar3{
  fill:#AD7460;
  top:250px;
}

.person{
width:75px;
height:75px;
border: 1px solid black;
float:left;
display: inline-block;
position:relative;
top:101px;
margin:0px;
opacity:1.0;
filter:alpha(opacity=100);
}

.person :hover{
border-width:5px;
border-color:black;
border-style:dotted;
opacity:0.4;
filter:alpha(opacity=40);
}

#users_table{
  position: relative;
  top:90px;
}

#footer-wrapper{
  position:relative;
  top:600px;
  height:200px;
background: linear-gradient(to bottom,  #AD7460, #88382D);
  font: normal 15px 'Raleway', sans-serif;
}

#footer{
    height:300px;
  position:absolute;
  bottom:0;
}

#footer-p{
    width:500px;
  margin-left:280px;
  color:white;
  font-size: 20px;
  padding-top: 45px;
  line-height: 21px;
  margin-top: 25px;
font-family: 'Raleway', sans-serif;
}

#rights{
  text-align: center;
  position:relative;
  font-weight: bold;
  font-size: 13px;
  color:white;
  top:180px;
}
#contact-li:hover{
  text-decoration: underline;
  cursor:pointer;
}
#contact-alex:hover{
  text-decoration: underline;
    cursor:pointer;

}
#footer-list{
  padding-top: 24px;
  list-style-type: none;
  margin: 0px;
  text-align: right;
  width: 180px;
  position:relative;
  top:90px;
  color: white;
  font-weight: bold;
}
.column{
  width:33%;
  display:inline-block;
  float:left;
  margin: 0 auto;
  font-size:15px;
  font-family: serif;
  position:relative;
  left:20px;
}
.column_head{
  font-width:bold;
  font-size:20px;
  text-align:center;

}

.bar{
  fill: #D6A354;
  width:100%;
  height:70px;
  position:relative;
  top:300px;
  display:block;
  margin:auto;
  padding-bottom:10px;
}
#bar3{
  fill:#AD7460;
  top:250px;
}
