<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
	<script type="text/javascript" src="../static/scripts/addinterest.js"></script>
</head>
<body>
	<h1>Add what you like!</h1>
    <form id="add" method="POST">
        <label for="intname">Interest Name</label><br>
        <input type="text" id="intname" name="intname"><br>
        <label for="desc">Interest Description</label><br>
        <input type="text" id="desc" name="desc">
        <input type="submit" value="Submit">
    </form>
    <a href="/interest/all">View all interests</a>
</body>
</html>
