<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<script type="text/javascript" src="../static/scripts/error.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
	<link rel="stylesheet" type="text/css" href="../static/css/error.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,900' rel='stylesheet' type='text/css'>
	</head>
<body>
	<title>Whoops!</title>
	<h1>Page Not Found!</h1>
	<p>Looks like this page doesn't exist. Maybe check the spelling of the URL?</p>
	<button onclick="back()">Previous Page</button>
</body>
</html>
	