<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900italic,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/scripts/interestSelection.js"></script>
    	<title>CD:Select</title>
	</head>
	<body>
		<div id='login_header'>
			<h1>Common Denominator</h1>
		</div>
		<input type='text' id='input'></input>
		
	</body>
</html>
