<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" href="../static/scripts/client.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900italic,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/scripts/client.js"></script>
    	<title>Interest:{{Name of Interest}}</title>
	</head>
	<body onload='getUsers(100)'>
	<table id='users_table'>
	</table>

		<div id='interest_main'>
			<div id="h1_behind">
			<img id="logo_int" src="../static/images/CDlogo.png">
			<h1>People who like: {{insert interest here}}</h1>
			</div>
			<div id="search">
				<div id="search1">
					<div id="search2" >								
						<div id="search3">
								<h2>Search</h2>
								<div id="name"><span id="by_name">By Name: </span>
									<input name='user_by_name' id="user_by_name"></input>
								</div>
									<br>
								<div id="location">
									<span> By Location: </span>
									<input name='user_by_loc'></input>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>




	</body>
</html>