<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" href="../static/scripts/client.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900italic,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/scripts/client.js"></script>
    	<title>Interest:{{Name of Interest}}</title>
	</head>
	<body onload='getUsers(10)'>
		<div></div>
		<div id='interest_main'>
			<h1>People who like: {{insert interest here}}</h1>
			<h2>Search</h2>
			<span>By Name: </span>
			<input name='user_by_name'></input>
			<br>
			<span> By Location: </span>
			<input name='user_by_loc'></input>
			<table id='users_table'>
			</table>
		</div>
	</body>
</html>