<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900italic,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/scripts/client.js"></script>
		<script type="text/javascript" src="../static/scripts/login.js"></script>
    	<title>CD:Login</title>
	</head>
	<body>
		<div id='login_header'>
			<h1>Common Denominator</h1>
		</div>
		<div id='login_form_wrapper'>
			<div>
				<form id='login_form' method='POST' action='/login'>
					<span class="error" id='user_name'></span>
					<input type='text' name='user_name' id='usr' placeholder='Username'></input>
					<span class="error" id='password'></span>
					<input type='password' name='password' placeholder='Password'></input>
					<br>
					<input type='submit' value='Log In' class='login_form_buttons'></input>
				</form>
			</div>
			<div>
				<form id='signup_redirect'>
					<input type='submit' value='Sign Up' class='login_form_buttons'></input>
					<p>Forgot your password?</p>
				</form>
			</div>
			<div>
				<form id='sign_up_form' method='POST' action='/signup'>
					<p>Sign up! Fill out the fields below</p>
					<input name='first_name' placeholder='First Name'></input>
					<input name='last_name' placeholder='Last Name'></input>
					<input name='user_name' placeholder='User Name'></input>
					<input type='password' name='signup_passwd' placeholder='Password'></input>
					<input type='password' name='reenter_passwd' placeholder='Re-enter Password'></input>
					<p>Add Interests</p>
					<textarea rows='4' cols='30'></textarea>
					<input type='submit' value='Get Started'></input>
				</form>
			</div>
			
		</div>

		<script>
    		var i = 0;
    		var error_list = document.getElementsByClassName('error');
    		var username = "{{username}}";
    		document.getElementById('usr').value = username;
    		{{#errors}}
    			var error_msg = "{{msg}}";
				error_list[i].innerHTML = error_msg;
				i++;
			{{/errors}}
    	</script>
	</body>
</html>