<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900italic,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/scripts/client.js"></script>
    		<title>CD:Login</title>
	</head>
	<body>
		<div id='login_header'>
			<h1>Common Denominator</h1>
		</div>
		<div id='login_form_wrapper'>
			<div id='login_form'>
				<form method='POST' action='/'>
					<input type='text' name='user_name' placeholder='Username'></input>
					<input type='text' name='password' placeholder='Password'></input>
					<input type='submit' value='Log In' class='login_form_buttons'></input>
				</form>
			</div>
			<div>
				<form id='signup_redirect'>
					<input type='submit' value='Sign Up' class='login_form_buttons'></input>
					<p>Forgot your password?</p>
				</form>
			</div>
			<div id='sign_up_form'>
				<form method='POST' action='/'>
					<p>Sign up! Fill out the fields below</p>
					<input name='first_name' placeholder='First Name'></input>
					<input name='last_name' placeholder='Last Name'></input>
					<input name='user_name' placeholder='User Name'></input>
					<input name='signup_passwd' placeholder='Password'></input>
					<input name='reenter_passwd' placeholder='Re-enter Password'></input>
					<p>Add Interests</p>
					<textarea rows='4' cols='30'></textarea>
					<input type='submit' value='Get Started'></input>
				</form>
			</div>
			
		</div>
		<script>
			var form = document.getElementById('signup_redirect');
			form.addEventListener('submit',function(e){
				e.preventDefault();
				document.getElementById('login_form').style.display = "none";
				document.getElementById('signup_redirect').style.display='none';
				document.getElementById('sign_up_form').style.display="inline-block";
			});
		</script>
	</body>
</html>
