<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900italic,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/scripts/client.js"></script>
		<script type="text/javascript" src="../static/scripts/login.js"></script>
    	<title>CD:Signup</title>
	</head>
	<body>
		<div id='login_header'>
			<h1>Common Denominator</h1>
		</div>
		<div id='form_wrapper'>
			<div>
				<form id='sign_up_form' method='POST' action='/signup'>
					<p>Sign up! Fill out the fields below!</p>
					<span id='account_exists', class='error'></span>
					<input name='first_name' placeholder='First Name' id='fname_field'></input>
					<span id='first_name' class='error'></span>
					<input name='last_name' placeholder='Last Name' id='lname_field'></input>
					<span id='last_name' class='error'></span>
					<input name='user_name' placeholder='User Name' id='usr_field'></input>
					<span id='user_name' class='error'></span>
					<input type='password' name='signup_passwd' placeholder='Password'></input>
					<span id='signup_passwd' class='error'></span>
					<input type='password' name='reenter_passwd' placeholder='Re-enter Password'></input>
					<span id='reenter_passwd' class='error'></span>
					<p>Choose your interests! Hold Ctrl and click to select multiple interests!</p>
						<select multiple name='ints' id='ints'></select>
					<input type='submit' value='Get Started'></input>
				</form>
			</div>
			
		</div>
		<script>
			var ilcontents = "{{intList}}";
			///var ul = document.getElementById('ints');
			var allIntList = document.getElementById('ints');
			var ilc = ilcontents.replace("&#x27;", "\'");

			var iArr = ilc.split("&");
			for(var i = 0; i < iArr.length; i++)
			{
				var indiv = iArr[i].replace("amp;", "").split("+");
				//console.log(indiv);
				var iid = indiv[0];
				if(iid.indexOf("amp;") != -1)
				{iid = iid.replace("amp;", "");}
				//{iid = iid.substring(4, iid.length);}
				//var li = document.createElement('li');
				//li.innerHTML =  indiv[1] + '<input type="checkbox" name="interest" class="interest_check" id="'+iid+'check">';
				//ul.appendChild(li);
				allIntList.innerHTML += '<option value="'+iid+'">'+indiv[1]+'</option>';
			}


		document.getElementById('fname_field').value = "{{firstname}}";
		document.getElementById('lname_field').value = "{{lastname}}";
		document.getElementById('usr_field').value = "{{username}}";
		document.getElementsByClassName('interest_check').value="{{interest}}";

		{{#errors}}
			var msg = "{{msg}}";
			var param = "{{param}}";
			document.getElementById(param).innerHTML = msg;
		{{/errors}}
		</script>
	</body>
</html>