<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
	<!-- <script type="text/javascript" src="../static/scripts/userpage.js"></script> -->
	<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
	</head>
<body>
	<title>Details for {{usrnm}}</title>
	<h2>Where is {{usrnm}}?</h2>
	<p>{{usrnm}} is at {{uloc}}.</p>
	<h2>What is {{usrnm}} interested in?</h2>
	<ul id='interests'></ul>
	<br>
	<a href="/user/{{uid}}/near">Who is near {{usrnm}}?</a>
	<script>
		var uintr = "{{uints}}".split('&');
		var ul = document.getElementById('interests');
		for(var i = 0; i < uintr.length; i++)
		{
			//console.log(i);
			var li = document.createElement('li');
			var indiv = uintr[i].split('+'); 
			//console.log(indiv[0] + ', ' + indiv[1] + ', ' + indiv[2]);
			var nm = indiv[0];
			if(nm.indexOf('amp;') != -1) {nm = nm.substring(4, nm.length);}
			li.innerHTML = '<a href="/interest/' + indiv[1] + '">' + nm + '</a> (Interest level: '+indiv[2]+')';
			ul.appendChild(li);
		}
	</script>
</body>
</html>

<!-- //name, iid, level -->

<!--

var intin;
	conn.query('SELECT uname, loc FROM users WHERE uid = $1', [request.params.uid]).on('row', 
		function(row) {
			//console.log(row);
			var usrnm = row.uname;
			response.writeHead(200, {'Content-Type': 'text/html'});
			response.write('<title>Details for ' + usrnm + '</title>'
			+ '<h2>Where is ' + usrnm + '?</h2><p>' + usrnm + ' is at ' + row.loc 
			+ '.</p>'+'<h2>What is ' + usrnm + ' interested in?</h2><p>'); 
			//var intarr = row.intr.split(",");
			intin = "";
			
			conn.query('SELECT name, intmemb.intid AS iid, level  FROM interest, intmemb WHERE interest.intid = intmemb.intid AND intmemb.uid = $1', [request.params.uid]).on('row',
				
				function(row){
				//console.log(row);
				response.write('<li><a href="/interest/'+ row.iid + '">' + row.name + '</a> (Interest level: '+row.level+')</li>');}
			).on('end', 
				function()
				{
					//view nearby users?
					response.write('<br><a href="/user/' + request.params.uid + '/near">Who is near ' + usrnm + '?</a>');
					response.end();
				});
			
				});



-->