<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
	<!-- <script type="text/javascript" src="../static/scripts/userpage.js"></script> -->
	<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
	</head>
<body>
	<title>Details for {{usrnm}}</title>
	<h2>Where is {{usrnm}}?</h2>
	<p>{{usrnm}} is at {{uloc}}.</p>
	<h2>What is {{usrnm}} interested in?</h2>
	<ul id='interests'></ul>
	<br>
	<script>
		var uintr = "{{uints}}".split('&');
		var ul = document.getElementById('interests');
		for(var i = 0; i < uintr.length; i++)
		{
			//console.log(i);
			var li = document.createElement('li');
			var indiv = uintr[i].split('+'); 
			//console.log(indiv[0] + ', ' + indiv[1] + ', ' + indiv[2]);
			var nm = indiv[0];
			if(nm.indexOf('amp;') != -1) {nm = nm.substring(4, nm.length);}
			li.innerHTML = '<a href="/interest/' + indiv[1] + '">' + nm + '</a> (Interest level: '+indiv[2]+')';
			ul.appendChild(li);
		}
	</script>
</body>
</html>